@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
  font-family: "regular";
  src: url("fonts/titilliumweb-regular-webfont.woff2") format("woff2"),
    url("fonts/titilliumweb-regular-webfont.woff") format("woff"),
    url("fonts/TitilliumWeb-Regular.ttf") format("truetype");
}


:root {
  --background-white: white;
  --background-black: black;
  --text-color: black;
  --wrappershadowbfr:rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  --wrappershadowaftr:  rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  --wrappershadowfocus: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
    

html,
body {
  cursor: none;
  margin: 0;
  padding: 0;
  background: white;
  height: 100%;
  width: 100%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
.navbar {
  padding: 0px;
  margin: auto;
  width: 100%;
  z-index: 5;
  top: 0;
  position: fixed;
  backdrop-filter: blur(40px);
  background: rgba(255, 255, 255, 0.329);
  text-align: center;
  transition: all 0.5s;
}

.navbar li {
  display: inline;
  position: relative;
  font-size: 30px;
  font-family: "regular", sans-serif;
  /* cursor: none; */
}
.navbar a {
  position: relative;
  margin: 10px;
}

a:hover {
  color: grey;
}

a {
  text-decoration: none;
  color: var(--background-black);
  cursor: none;
}

.body {
  margin: 0%;
  padding: 0%;
  font-family: "regular", sans-serif;
  overflow: scroll;
}

/* login form */
.center {
  width: 90%;
  height: 90%;
  margin: 0px auto;
  margin-top: 50px;
  display: flex;
  flex: 1 1 100%;
  border-radius: 10px;
  overflow: hidden;
  align-content: stretch;
  justify-content: space-between;
  background: url("/ShoePlazza/images/2.jpg") no-repeat;
  background-size: 100%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 22px 70px 4px;
  color: var(--text-color);
  animation: bg forwards ease-in-out 3s;
}
@keyframes bg {
  0% {
    background-position: bottom;
  }
  100% {
    background-position: 0;
  }
}
/* @keyframes bg {
  0% {
    background: url("background/1.jpg");
    background-position: center;
    background-size: cover;
  }
  12.5% {
    background: url("background/2.jpg");
    background-size: cover;
    background-position: center;
  }
  25% {
    background: url("background/3.jpg");
    background-size: cover;
  }
  37.5% {
    background: url("background/4.jpg");
    background-size: cover;
    background-position: center;
  }
  50% {
    background: url("background/5.jpg");
    background-size: cover;
  }
  62.5% {
    background: url("background/6.jpg");
    background-size: cover;
    background-position: center;
  }
  75% {
    background: url("background/7.jpg");
    background-size: cover;
  }
  
  100% {
    background: url("background/8.jpg");
    background-position: center;
  }
} */
.loginbtns {
  position: absolute;
  bottom: 100px;
  transform: translateX(50%);
}
.showpwd {
  top: 50px;
  border: none;
  background: none;
  position: absolute;
  right: 5px;
  top: 50%;
}
.showpwd img {
  height: 20px;
  opacity: 80%;
  width: 20px;
}
.txtfield {
  margin: 10px;
  margin-top: 20px;
}
.center .left {
  width: 100%;
  height: 100%;
}

.center .left h1 {
  margin: 30px;
  font-size: 10vh;
  text-align: left;
  font-family: "regular", sans-serif;
  font-weight: 500;
}

.center .left h2 {
  margin: 30px;
  font-size: 20px;
  font-family: "regular", sans-serif;
  font-weight: 100;
}

.txtfield .idpassinput {
  width: 90%;
  padding: 0 0 0 10px;
  height: 100%;
  font-size: 16px;
  border: 1px solid gray;
  background: none;
  border: none;
  outline: none;
}

.center .right h1 {
  margin: 0;
  font-size: 10vh;
  text-align: right;
  padding: 0 30px 40px 0;
}

.center .right form .txtfield {
  position: relative;
}

.tab {
  display: none;
}

.center .right .button {
  width: 50%;
  height: 50px;
  background-color: #313131;
  color: white;
  border-radius: 10px;
  border: none;
}

.center .right {
  padding-top: 0%;
  padding-left: 10px;
  overflow: hidden;
  cursor: auto;
}

.center .txtfield .idpassinput {
  width: 100%;
  padding: 0 5px;
  height: 20px;
  color: #1d1d1dc7;
  font-size: 16px;
}

.center .txtfield label {
  position: absolute;
  top: 50%;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}

.signupradio {
  color: white;
  border-bottom: 1px dotted white;
}

.signupradio .radiolbl {
  height: 100px;
  margin: 10px;
}

.txtfield .idpassinput:focus ~ label,
.txtfield #age:focus ~ label,
.txtfield #age:valid ~ label,
.txtfield .idpassinput:valid ~ label {
  top: -1px;
  color: black;
}

.txtfield .txtarea:focus ~ label,
.txtfield .txtarea:valid ~ label {
  color: black;
}

.center .right {
  width: max-content;
  background: rgba(255, 255, 255, 0.119);
  backdrop-filter: blur(10px);
  height: 100%;
  width: 400px;
}

.center .right .txtfield {
  position: relative;
  padding-top: 30px;
  margin-right: 10px;
  border-bottom: 1px dotted white;
}
/* admin table */
.admintable tr td {
  border-collapse: collapse;
  border: 0;
  padding: 0;
}

.body .admintable {
  width: 80%;
  margin: auto;
  box-sizing: border-box;
  font-family: "regular", sans-serif;
  border-spacing: 0;
  border-radius: 5px;
  background: white;
}
.admintable .tableheading {
  text-align: center;
  font-size: 40px;
  background: white;
  color: black;
}
.admintable th {
  border-top: 3px solid black;
  margin: 0;
  padding: 0;
}
.admintable td,
tr {
  text-align: center;
  border: 1px solid black;
}
.content {
  height: 1000px;
}



/* profile */




.profile .button {
  color: black;
  background: rgba(255, 255, 255, 0.8);
  width: 150px;
  font-size: 15px;
  border: 0;
  border-radius: 20px;
  height: 40px;
}
.ProfileWrapper .button {
  color: black;
  background: rgba(255, 255, 255, 0.8);
  width: 150px;
  font-size: 15px;
  border: 0;
  border-radius: 20px;
  height: 50px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.button:hover {
  transition: all 0.3s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: white;
  background: black;
}

.profile {
  padding-top: 40px;
  width: auto;
  height: 700px;
  background: url("/ShoePlazza/images/5.jpg") center;
  /* background-blend-mode: overlay; */
  font-family: "Oxygen", sans-serif;
  padding: 30px;
  position: relative;
  color: white;
  font-size: 20px;
  background-size: cover;
  background-color: rgba(0, 0, 255, 0.288);
}
.profiletext {
  position: absolute;
  bottom: 50%;
}
.profile button {
  bottom: 30%;
  position: absolute;
}
.ProfileWrapper .right button{
  width: 100%;
}
#profilehead {
  font-size: 15px;
  font-weight: 100;
}
.ProfileWrapper .right .profilepic {
  margin-bottom: 30px;
  height: 500px;
  width: 500px;
  border-radius: 10px;
  margin-top: 20px;
  position: relative;
  padding: 30px;
  /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  transition: all .5s;
}
.ProfileWrapper .left legend{
  color:rgba(0, 0, 0, 0.7);
  font-family: "Poppins";
  font-weight: 400;
  font-size: 25px;
}

/* for js */
.nodisplay {
  display: none;
}

.ProfileWrapper .right .pfpLabel {
  position: absolute;
  top: 50px;
  left: 133px;
  color: gray;
}
.ProfileWrapper {
  font-family: "Poppins";
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  height: 700px;
}
.ProfileWrapper .left {
  height: 100%;
  margin: 30px;
  position: relative;
}
.leftWrapper {
  border-radius: 5px;
  border: none;
  padding: 0px 40px 0 40px;
  margin-bottom: 20px;
  position: absolute;
  left: 25%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px; 
}
.ProfileWrapper .fields {
  margin: 10px;
  color: rgb(0, 0, 0, 0.6);
  height: 30px;
  border: none;
  width: 300px;
  padding-left: 100px;
  background: none;
  position: relative;
  border: none;
  outline: none;
  font-family: "Poppins";
}

.ProfileWrapper .txtfieldwrapper label {
  position: absolute;
  top: 14px;
  font-family: "Poppins";
  font-weight: 600;
  left: 20px;
  color: rgba(0, 0, 0, 0.829);
}
.ProfileWrapper .txtfieldwrapper {
  margin: 7px;
  box-shadow: var(--wrappershadowbfr);
  width: 400px;
  text-align: right;
  margin-bottom: 30px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  transition: all .5s;
}

.ProfileWrapper .right {
  padding: 30px;
  height: 100%;
  position: relative;
  text-align: center;
}

/* footer */
.FooterRight img {
  margin: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  float: right;
  cursor: auto;
}
.FooterRight img:hover {
  background: rgba(255, 255, 255, 0.74);
}
.footer {
  width: 100%;
  height: max-content;
  position: relative;
  display: grid;
  background: var(--background-white);
  color: var(--textcolor);
  grid-template-rows: 1fr 30px;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  cursor: auto;
}
.footer .FooterLeft {
  display: block;
  cursor: auto;
  grid-row: 1;
}
.footer .FooterRight {
  grid-row: 1;
}

.FooterMid a {
  cursor: auto;
  color: var(--textcolor);
  display: block;
  text-decoration: none;
  margin: 10px;
}
.FooterMid a:hover {
  color: var(--txthover);
}
.FooterCopy {
  text-align: center;
  height: 10px;
  bottom: 0;
  grid-row: 2;
  height: 0;
  margin: 0;
  transform: translateX(50%);
  padding: 0;
  color: var(--textcolor);
  background: var(--footerbg);
}
