@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
:root{
    --textcolor:rgba(0, 0, 0, 0.63);
    --txthover:black;
}
.FooterRight img {
    margin: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;   
    float: right;
    cursor: auto;
}
.FooterRight img:hover {
    background: rgba(255, 255, 255, 0.74);
}
.footer {
    width: 100%;
    height: max-content;
    display: grid;
    background: gray;
    color: var(--textcolor);
    grid-template-columns: 1fr 1fr;
    margin:0;
    padding: 0;
    cursor: auto;
}
.footer .FooterLeft{
    display: block;
    cursor: auto;
}

.FooterMid a{
    cursor: auto;
    color: var(--textcolor);
    display: block;
    text-decoration: none;
}
.FooterMid a:hover{

    color: var(--txthover);
}