@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
@font-face {
  font-family: "regular";
  src: url("../fonts/titilliumweb-regular-webfont.woff2") format("woff2"),
    url("../fonts/titilliumweb-regular-webfont.woff") format("woff"),
    url("../fonts/TitilliumWeb-Regular.ttf") format("truetype");
}

html,
body {
  /* cursor: none; */
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  background: white;
  height: 100%;
  width: 100%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}

/* home page */
.content {
  height: 650px;
  background: url("../images/homepagebg.jpg");
  background-size: cover;
  padding: 20px;
  background-position: center;
}
.content button {
  width: 270px;
  height: 30px;
  font-size: 15px;
  border-radius: 10px;
  border: none;
}


#explore {
  margin: 30px;
  margin-bottom: 0;
}
.explore .card {
  margin: auto;
  width: 450px;
  height: 500px;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 10px;
  transition: all 1s;
}
.cardtxt {
  position: absolute;
  bottom: -100px;
  transition: all 0.6s;
  width: 100%;
}
.cardimg {
  width: 100%;
  height: 100%;
}
.explore {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.explore .card:hover > .cardtxt {
  bottom: 0;
}
.explore .card:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
.explore .card:hover > .logo {
  margin: 10px;
}
.explore .card .logo {
  width: 75px;
  height: 65px;
  transition: all 0.5s;
  position: absolute;
}
.explore .card .cardtxt button {
  width: 100%;
  border: none;
  background: black;
  color: white;
  height: 50px;
}

/* after featured */

.panel {
  height: 600px;
  margin: 20px;
  border-radius: 10px;
  position: relative;
  background: none;
}
#pannike {
  background: url("../images/nikepanel.jpg") center;
  background-size: cover;
}
#panaddidas {
  background: url("../images/addidaspanel.jpg") center;
  background-size: cover;
}
#panaddidas button {
  left: 0;
  right: auto;
}
.cardlogo {
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 5;
  transition: all 1s;
}
.panel .brand {
  height: 100px;
  margin: 30px;
}
.panel button {
  position: absolute;
  width: 200px;
  height: 50px;
  bottom: 0;
  background: white;
  right: 0;
  font-size: 15px;
  margin: 20px;
  border: none;
  border-radius: 50px;
}
.cards .cardinfo:hover {
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
  /* box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px; */
  box-shadow: rgba(0, 0, 0, 0.2) 0px 50px 100px -7px;
}
.cards .cardinfo:hover > .txt {
  bottom: 0;
}
.cards .cardinfo:hover > .cardlogo {
  margin: 30px;
}



/* profile */

.profile .button {
  color: black;
  background: rgba(255, 255, 255, 0.8);
  width: 150px;
  font-size: 15px;
  border: 0;
  border-radius: 20px;
  height: 40px;
}
.ProfileWrapper .button {
  color: black;
  background: rgba(255, 255, 255, 0.8);
  width: 150px;
  font-size: 15px;
  border: 0;
  border-radius: 20px;
  height: 50px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.ProfileWrapper .right .button {
  width: 100%;
}

.button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: none;
  background: black;
  color: white;
}

.profile {
  padding-top: 40px;
  width: auto;
  height: 700px;
  background: url("../images/profilebg.jpg") center;
  /* background-blend-mode: overlay; */
  font-family: "Oxygen", sans-serif;
  padding: 30px;
  position: relative;
  color: white;
  font-size: 20px;
  background-size: cover;
  background-color: rgba(0, 0, 255, 0.288);
}
.profiletext {
  position: absolute;
  bottom: 50%;
}
.profile button {
  bottom: 30%;
  position: absolute;
}
.ProfileWrapper .right button {
  width: 100%;
}
#profilehead {
  font-size: 15px;
  font-weight: 100;
}
.ProfileWrapper .right .profilepic {
  margin-bottom: 30px;
  height: 500px;
  width: 500px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  transition: all 0.5s;
}

.ProfileWrapper legend {
  color: rgba(0, 0, 0, 0.7);
  font-family: "Poppins";
  font-weight: 400;
  font-size: 25px;
}

/* for js */
.nodisplay {
  display: none;
}

.ProfileWrapper {
  font-family: "Poppins";
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  height: 700px;
}
.ProfileWrapper .left {
  height: 100%;
  margin: 30px;
  position: relative;
}
.leftWrapper,
.right fieldset {
  border-radius: 5px;
  border: none;
  padding: 0px 40px 0 40px;
  margin-bottom: 20px;
  position: absolute;
  left: 10%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.ProfileWrapper .right fieldset {
  padding: 35px;
  border: none;
  position: relative;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.ProfileWrapper .fields {
  margin: 10px;
  color: rgb(0, 0, 0, 0.6);
  height: 30px;
  border: none;
  width: 300px;
  padding-left: 100px;
  background: none;
  position: relative;
  border: none;
  outline: none;
  font-family: "Poppins";
}

.ProfileWrapper .txtfieldwrapper label {
  position: absolute;
  top: 14px;
  font-family: "Poppins";
  font-weight: 600;
  left: 20px;
  color: rgba(0, 0, 0, 0.829);
}
.ProfileWrapper .txtfieldwrapper {
  margin: 7px;
  box-shadow: var(--wrappershadowbfr);
  width: 400px;
  text-align: right;
  margin-bottom: 30px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
}

.ProfileWrapper .right {
  padding: 30px;
  position: relative;
  text-align: center;
}

/* admin */
.admin-wrapper {
           
  height: 750px;
  margin: 0;
  padding: 0;
  background: url('../images/adminbg.jpg');
  background-position: center;
  background-size: cover;
  padding: 30px;
}

.add-products {
  display: grid;
  grid-template-columns: 400px 1fr;
  margin: auto;
}

.add-products .adminTxtfield {
  position: relative;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.addRight {
  /* display: none; */
  text-align: center;
  padding: 20px;
}

.add-products .lbl {
  position: absolute;
  left: 10px;
  top: 10px;
  transition: all .5s;
}

.showimage {
  width: 300px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  margin: 2px;
}

.input:focus~.lbl {
  top: -20px;
}

.input:valid~.lbl {
  top: -20px;
}

.input {
  width: 100%;
  position: relative;

  background: none;
  outline: none;
  border: none;
}

.rbtn {
  transform: translate(50px,-22px);
}
.brandbtn{
  display: none;
}
#image {
  display: none;
}
#browse{
  width: 100%;
  height: 100%;
  background: none;
  border: none;
}
.radiowrap{
  background:none;
  width: 150px;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  transition: all .3s;
  margin:10px;
}
.radiowrap:hover{
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.adminSubmit{
  width: 90%;
  margin: auto;
  background: none;
  border: none;
  height: 40px;
  border-radius: 10px;
  margin-left: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: all .2s;
}
.adminSubmit:hover{
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.admintable{
  width: 80%;
  margin: 10px auto;
  text-align: center;
  border: 1px solid black;
  
}
