.center {
  width: 90%;
  height: 650px;
  margin: 20px auto;
  display: flex;
  flex: 1 1 100%;
  border-radius: 10px;
  overflow: hidden;
  align-content: stretch;
  justify-content: space-between;
  background: url("../images/loginbg.jpg") no-repeat;
  background-size: 100%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 22px 70px 4px;
  animation: bg forwards ease-in-out 3s;
  color: black;
}
@keyframes bg {
  0% {
    background-position: bottom;
  }
  100% {
    background-position: 0;
  }
}

.loginbtns {
  position: absolute;
  bottom: 100px;
  transform: translateX(50%);
}
.showpwd {
  top: 50px;
  border: none;
  background: none;
  position: absolute;
  right: 5px;
  top: 50%;
}
.showpwd img {
  height: 20px;
  opacity: 80%;
  width: 20px;
}
.txtfield {
  margin: 10px;
  margin-top: 20px;
}
.center .left {
  width: 100%;
  height: 100%;
  padding: 30px;
}

.center .left h1 {
  font-size: 10vh;
  text-align: left;
  font-family: "regular", sans-serif;
  font-weight: 500;
}

.center .left h2 {
  font-size: 20px;
  font-family: "regular", sans-serif;
  font-weight: 100;
}

.txtfield .idpassinput {
  width: 90%;
  padding: 0 0 0 10px;
  height: 100%;
  font-size: 16px;
  border: 1px solid gray;
  background: none;
  border: none;
  outline: none;
}

.center .right h1 {
  margin: 0;
  font-size: 10vh;
  text-align: right;
  padding: 0 30px 40px 0;
}

.center .right form .txtfield {
  position: relative;
}

.tab {
  display: none;
}

.center .right .button {
  width: 50%;
  height: 50px;
  background-color: #313131;
  color: white;
  border-radius: 10px;
  border: none;
}

.center .right {
  padding-top: 0%;
  padding-left: 10px;
  overflow: hidden;
  cursor: auto;
}

.center .txtfield .idpassinput {
  width: 100%;
  padding: 0 5px;
  height: 20px;
  color: #1d1d1dc7;
  font-size: 16px;
}

.center .txtfield label {
  position: absolute;
  top: 50%;
  color: black;
  font-size: 16px;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}

.signupradio {
  color: white;
  border-bottom: 1px dotted white;
}

.signupradio .radiolbl {
  height: 100px;
  margin: 10px;
}
#signup{
min-height: 650px;
}
.adminrbtnwrapper{
  border: none;
  background: white;
  height: 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.adminrbtnwrapper:hover{
  background: black;
  color:white;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.txtfield .idpassinput:focus ~ label,
.txtfield #age:focus ~ label,
.txtfield #age:valid ~ label,
.txtfield .idpassinput:valid ~ label {
  top: -1px;
  color: black;
}

.txtfield .txtarea:focus ~ label,
.txtfield .txtarea:valid ~ label {
  color: black;
}

.center .right {
  width: max-content;
  background: rgba(255, 255, 255, 0.119);
  backdrop-filter: blur(10px);
  height: 100%;
  position: relative;
  width: 400px;
}

.center .right .txtfield {
  position: relative;
  padding-top: 30px;
  margin-right: 10px;
  border-bottom: 1px dotted white;
}