.navbar {
  background-color: #4b4b4b;
  padding: 0px;
  margin: 0px;
}

li {
  display: inline;
  margin-inline-start: 50px;
  padding-top: 10px;
  font-size: 30px;
  font-family: 'Titillium Web', sans-serif;
  font-style: bold;
  float: right;
  /* cursor: none; */
}

ul {
  background-color: black;
}

a:hover {
  color: grey;
}

a {
  text-decoration: none;
  color: white;
  cursor: none;
}

html,
body {
  height: 100%;
  cursor: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.body {
  margin: 0%;
  padding: 0%;
  font-family: 'Titillium Web', sans-serif;
  
}

/* login form css */
.center {
  width: 90%;
  height: 98%;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex: 1 1 100%;
  border-radius: 10px;
  overflow: hidden;
  align-content: stretch;
  justify-content: space-between;
  background: url("loginstuff/marek-piwnicki-TqCRkyPXGbM-unsplash.jpg");
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.61) 0px 22px 70px 4px;
}

.left {
  width: 100%;
  height: 100%;
}

.center .left h1 {
  margin: 30px;
  font-size: 10vh;
  text-align: left;
  font-family: 'Great Vibes', cursive;
  font-weight: 500;
}

.center .left h2 {
  margin: 30px;
  font-size: 20px;
  font-family: 'Liu Jian Mao Cao', cursive;
  font-weight: 100;
}

.txtfield input[type=text] {
  width: 100%;
  padding: 0 0 0 10px;
  height: 100%;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.right h1 {
  margin: 0;
  font-size: 10vh;
  text-align: right;
  padding: 0 30px 40px 0;
  font-family: 'roboto', cursive;
}

.right form .txtfield {
  position: relative;
}

.tab {
  display: none;
}

.right .button {
  width: 50%;
  height: 50px;
  background-color: #313131;
  color: white;
  border-radius: 10px;
  border: none;
  margin: 40px 0 10px 25%;
}

.right {
  padding-top: 0%;
  padding-left: 10px;
  overflow: hidden;
  cursor: auto;
}

.center .txtfield .idpassinput {
  width: 100%;
  padding: 0 5px;
  height: 20px;
  color: #1d1d1dc7;
  font-size: 16px;
  background: none;
  outline: none;
}

.center .txtfield label {
  position: absolute;
  top: 50%;
  color: white;
  font-size: 16px;
  font-weight: 500;
  pointer-events: none;
  transition: .5s;
}

.signupradio {
  color: white;
  border-bottom: 1px dotted white;
}

.signupradio .radiolbl {
  height: 100px;
  margin: 10px;
}

.txtfield .idpassinput:focus~label,
.txtfield #age:focus~label,
.txtfield #age:valid~label,
.txtfield .idpassinput:valid~label {
  top: -1px;
  color: black;
}

.txtfield .txtarea:focus~label,
.txtfield .txtarea:valid~label {
  color: black;
}

.center .right {
  width: max-content;
  background: rgba(255, 255, 255, 0.119);
  backdrop-filter: blur(20px);
  height: 100%;
  width: 400px;
}

.center .right .txtfield {
  position: relative;
  padding-top: 30px;
  margin-right: 10px;
  border-bottom: 1px dotted white;
}
.right input {
  border: none;
}

/* signup page */
.signupcenter {
  width: 90%;
  height: 95%;
  margin: 0 auto;
  display: flex;
  flex: 1 1 100%;
  border-radius: 10px;
  overflow: hidden;
  align-content: stretch;
  justify-content: space-between;
  background: url("loginstuff/marek-piwnicki-TqCRkyPXGbM-unsplash.jpg");
  background-size: cover;
}

.signupcenter .right {
  width: max-content;
  background: rgba(255, 255, 255, 0.119);
  backdrop-filter: blur(20px);
  height: 100%;
  width: 400px;
}

.signupcenter .txtfield label {
  position: relative;
  top: 50%;
  color: white;
  font-size: 16px;
  font-weight: 500;
  pointer-events: none;
  transition: .5s;
}

/* dropdown */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  cursor: none;
  color: black;
  padding: 12px 16px;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.optcol {
  color: black;
}

.txtarea {
  position: absolute;
  padding: 5px 5px 0 0;
  background: none;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px dotted white;
  resize: none;
}

input.invalid {
  background-color: red;
  color: red;
  border: 2x solid red;
}

.tab .radio input[type="radio"] {
  display: inline-block;
  height: 20px;
  width: 20px;
  color: red;
}

.radio {
  color: white;
}

.radio input[type="radio"] {
  accent-color: black;
}

.signup {
  position: relative;
  display: block;
}

.admintable tr td {
  border: 2px solid black;
  background: gray;
  border-radius: 5px;
  border-collapse: collapse;
}

.body .admintable {
  width: 90%;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 5px;
  background: white;
}